// プロフィール右側
.profile_right {
  width: 100%;
  padding-left: var(--lg);
}

// id
.display_id {
  padding-top: var(--sm);
}

// 各ボタン
.buttons {
  width: 100%;
  margin-top: var(--md);
  > *:first-child {
    margin-right: var(--md);
  }
}

// 詳細
.details {
  margin-top: var(--md);
  margin-bottom: var(--md);
}

// フォローボタン
.follow_button {
  margin-top: var(--md);
  margin-right: auto;
  margin-left: auto;
}

// フォロー、フォロワー数
.span_count {
  font-weight: 600;
}

// フォロワー
.follower {
  &.follower_root {
    margin-left: var(--md);
  }
}