@mixin medium {
  width: 35px;
  height: 35px;
}

.avatar {
  &.avatar_medium {
    @include medium;
  }
  &.avatar_large {
    width: 100px;
    height: 100px;
  }
  &.avatar_link {
    @include medium;
    &:hover {
      opacity: 0.8;
    }
  }
}