// タイトル
.title {
  padding: var(--md);
}

// コメント数
.comments {
  padding-left: var(--sm);
  font-weight: 600;
}

// 各コメント
.card {
  border-bottom: var(--border);
}

// コメントがない場合
.no_text {
  padding-top: var(--md);
  padding-bottom: var(--md);
  text-align: center;
}

// さらに表示ボタン
.more_button {
  &.more_button_root {
    width: 100%;
    padding-top: var(--md);
    padding-bottom: var(--md);
    font-weight: 400;
  }
}