// 各設定項目のタイトル
.sub_title {
  padding-top: var(--md);
  padding-bottom: var(--sm);
}

// 入力欄全体
.input_field {
  background-color: var(--c-gray);
  border-radius: 13px;
  padding: var(--sm);
  text-align: end;
}

// 各入力
.input {
  width: 100%;
  &.input_root {
    font-size: 16px;
  }
}

// 変更ボタンの周り
.save {
  margin-top: var(--md);
  margin-bottom: var(--md);
  text-align: center;
}