// 全体
.field {
  padding: var(--md);
  text-align: center;
}

// タイトル
.title {
  padding-bottom: var(--md);
  text-align: center;
}

// 詳細
.details {
  padding-bottom: var(--md);
  text-align: left;
}

// リスト
.list {
  &.list_root {
    margin-left: var(--md);
  }
}

// リストアイテム
.list_item {
  &.list_item_root {
    display: list-item;
    list-style: disc;
  }
}

// チェックボックス
.checkbox {
  width: 100%;
  padding-top: var(--md);
  padding-bottom: var(--md);
}