// 全体
.content {
  display: flex;
  flex-direction: column;
}

// タイトル
.title {
  padding-bottom: var(--sm);
}

// リンク
.link {
  &.link_root {
    margin-top: var(--md);
    margin-right: auto;
  }
}

.sample {
  width: 100%;
  padding-top: var(--md);
}