@use '@/styles/utils';

// 全体
.drawer {
  .drawer_paper {
    width: 220px;
    @include utils.mq(lg) {
      width: 250px;
      padding-top: 80px;
      left: calc((100% - 1182px) / 2);
      border: none;
      background-color: transparent;
    }
  }
}

// 各ボタン
.list_item_button {
  &.list_item_button_root {
    border-radius: 9999px;
  }
}

// 線
.divider {
  &.divider_root {
    margin: var(--xs) var(--md);
  }
}