@use '@/styles/utils';

// 全体
.appbar_root {
  &.appbar_root {
    box-shadow: none;
  }
}

// ヘッダーの中身全体
.toolbar {
  &.toolbar_root {
    min-height: 56px;
    width: 100%;
    margin: auto;
    max-width: 882px;
    // 中身の横幅は600pxまで
    @include utils.mq(xl) {
      max-width: 600px;
    }
  }
}

// ハンバーガーメニューのボタン
.hamburger_button {
  margin-right: var(--sm);
}

// タイトル
.title {
  flex-grow: 1;
  user-select: none;
}

// ロード中に投稿ボタン分のmarginを取る
.loading_margin {
  margin-right: 40px;
}