@use '@/styles/utils';

// ヘッダーの中身全体
.toolbar {
  &.toolbar_root {
    min-height: 56px;
    width: 100%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    @include utils.mq(md) {
      max-width: 916px;
    }
    @include utils.mq(lg) {
      max-width: 600px;
      margin-left: calc(((100% - 1182px) / 2) + 266px);;
    }
  }
}

// ハンバーガーメニューのボタン
.hamburger_button {
  margin-right: var(--sm);
}

// タイトルのリンク全体
.title_link {
  display: flex;
}

// タイトル
.title {
  -webkit-user-drag: none;
}

// 検索アイコン
.search_icon {
  &.search_icon_root {
    margin-left: auto;
  }
}