@use '@/styles/utils';

.appbar_root {
  &.appbar_root {
    box-shadow: none;
  }
}

.toolbar {
  &.toolbar_root {
    min-height: 56px;
    width: 100%;
    margin: auto;
    max-width: 882px;
    @include utils.mq(xl) {
      max-width: 600px;
    }
  }
}

.side_button {
  margin-right: var(--sm);
}

.title {
  flex-grow: 1;
  user-select: none;
}

.search {
  margin-right: var(--xs);
}