.dialog_title {
  display: flex;
}

.input {
  width: calc(100% - 85px);
  margin: 0;
  background-color: white;
  border-radius: 9999px;
}

.button {
  border-radius: 9999px;
  &.button_root {
    width: 85px;
    font-size: 13px;
  }
}

.input_base {
  width: calc(100% - 40px);
  padding-right: var(--sm);
}

.list_item_button {
  border-radius: 9999px;
}

.ex {
  margin-bottom: var(--md);
}

.categories {
  margin-top: var(--md);
}