.list {
  flex-grow: 1;
}

.list_item_button {
  border-radius: 9999px;
}

.divider {
  &.divider_root {
    margin-top: var(--xs);
    margin-bottom: var(--xs);
  }
}

.caption {
  padding: var(--sm) var(--md);
}