@use '@/styles/utils';

.container {
  max-width: 600px;
  height: 100%;
  min-height: 100vh;
  margin-bottom: var(--lg);
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  border-radius: 5px;
  @include utils.mq(sm) {
    margin-top: var(--lg);
  }
  // 右側リストだけのとき
  @include utils.mq(md) {
    margin-left: calc((100% - 916px) / 2);
  }
  // 左側メニューもあるとき
  @include utils.mq(lg) {
    margin-left: calc(((100% - 1182px) / 2) + 266px);
  }
}