@use '@/styles/utils';

// メイン要素全体のコンテナ
.container {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  @include utils.mq(sm) {
    margin-top: var(--lg);
    margin-bottom: var(--lg);
  }
  // 右側リストだけのとき
  @include utils.mq(md) {
    margin-left: calc((100% - 916px) / 2);
  }
  // 左側メニューもあるとき
  @include utils.mq(lg) {
    margin-left: calc(((100% - 1182px) / 2) + 266px);
  }
}

.liner {
  width: 100%;
  &.liner_root {
    position: fixed;
    z-index: 1200;
    background-color: inherit;
  }
}