@use '@/styles/utils';

.list{
  height: calc(100% - 104px);
  background-color: white;
  border-radius: 5px;
  max-width: 600px;
  margin: auto;
  @include utils.mq(md) {
    width: 250px;
    // margin: 24px 0 24px 16px;
    position: fixed;
    top: 80px;
    right: calc((100% - 874px) / 2);
  }
  @include utils.mq(lg) {
    right: calc((100% - 1164px) / 2);
  }
}